.row
  .col-sm-12
    .float-right.img-fluid= image_tag 'me.jpg', width: '150', class: 'rounded-circle'
    %h1 I teach, build, and write.


    %p.tag
      %strong 25+ years of building high-quality software and managing projects.


    .row
      .col-sm-7
        %p
          Adjunct Lecturer of Innovation and Entrepreneurship
          %br
          Kellogg School of Management
          %br
          Northwestern University
      .col-sm-5
        %p
          Adjunct Assistant Professor
          %br
          Masters Progam in Computer Science
          %br
          University of Chicago



.row.mb-5
  .col-sm-12
    %p
      %small
        %em
          I would like everyone to study the movie Apollo 13 as a classic case study in human-computer interdependency.
          I am also fascinated by the process of improvisation in music, the way language shapes the way that we think, and the awesomeness of the Oxford comma.


    %hr

.row.d-none.d-sm-block
  = render 'layouts/client_logos'

.row.d-block.d-sm-none
  .col-sm-12
    %ul.list-unstyled
      %li= link_to "Consulting", consulting_path
      %li= link_to "Corporate Training", training_path
      %li= link_to "Speaking", speaking_path
      %li= link_to "Tutoring", tutoring_path
      %li= link_to "Bio", bio_path
      %li= link_to "Resume", resume_path
