.row
  .col-sm-12
    .pull-right.img-responsive= image_tag 'me.jpg', width: '150', class: 'img-circle'
    %h1 I teach, build, and write.


    %p.tag
      %strong 20+ years of building and managing software projects.


    %p
      I build software as a freelance engineer, and I teach
      graduate-level
      courses in computer science, web development,
      project management, and software engineering.


    .row.titles
      .col-sm-7
        %p.smallcaps
          Adjunct Lecturer of Innovation and Entrepreneurship
          %br
          Kellogg School of Management
          %br
          Northwestern University
      .col-sm-5
        %p.smallcaps
          Adjunct Assistant Professor
          %br
          Masters Progam in Computer Science
          %br
          University of Chicago



    -# .row.top-margin
    -#   .col-xs-5
    -#     %p.logos= image_tag 'nu.png', class: 'img-responsive'
    -#   .col-xs-6
    -#     %p.logos= image_tag 'uchicago.gif', class: 'img-responsive'

.row
  .col-xs-12
    %p
      %small
        %em
          I would like everyone to study the movie Apollo 13 as a classic case study in human-computer interdependency.
          I am also fascinated by the process of improvisation in music, the way language shapes the way that we think, and the awesomeness of the Oxford comma.


.visible-xs
  %hr
  .row
    .col-xs-12
      = render 'layouts/client_logos'

  %hr

  %ul.list-unstyled
    %li= link_to "Consulting", consulting_path
    %li= link_to "Corporate Training", training_path
    %li= link_to "Speaking", speaking_path
    %li= link_to "Tutoring", tutoring_path
    %li= link_to "Bio", bio_path
    %li= link_to "Resume", resume_path

.row.hidden-xs
  = render 'layouts/client_logos'
