
%h1 Speaking


.row
  .col-md-8
    %h3 Up Next

    %p
      August 3-4, 2017
      %br
      %strong= link_to "Kansas City Developer Conference", 'http://www.kcdc.info/index.html'
      %br
      Computer Science: The Good Parts


    %h3 Invite Me

    %p
      I am often available to visit user groups, schools, and classrooms
      to speak about coding, the business of code, and entrepreneurship.

    %p
      Just contact me
      = link_to "on Twitter", 'https://twitter.com/jeffcohen'
      or drop me
      = mail_to "cohen.jeff@gmail.com", "an email."

    %h3 Most Recent

    %ul

      %li
        I presented a new version of
        %strong Computer Science: The Good Parts
        as a keynote speaker at
        = link_to "RubyConf 2016", "https://www.rubyconf.org/"
        on November 10, 2016.

      %li
        I spoke on
        %strong Computer Science: The Good Parts
        at
        = link_to "ThatConference", "https://www.thatconference.com/"
        on August 8, 2016.

      %li
        I spoke on
        %strong Computer Science: The Good Parts
        at
        = link_to "WindyCityRails", "https://www.windycityrails.com/"
        on September 17, 2015.
        The
        = link_to 'slides are here', 'https://speakerdeck.com/jeffcohen/computer-science-the-good-parts'
        or
        = link_to 'you can watch the video.', 'https://www.windycityrails.org/videos/2015/'

      %li
        I spoke on
        %strong Web Development Secrets Revealed

        on May, 2013 at WebVisions Portland.

        = link_to "Slides", "https://speakerdeck.com/jeffcohen/secrets-revealed-web-development-is-for-everyone"

      %li
        I spoke on
        %strong Web Development Secrets Revealed
        on April, 2013 at the Kellogg Tech Conference at Northwestern University, 90-minute "Why Code?" demonstration geared for MBA students and other folks.
        = link_to "Slides", "https://speakerdeck.com/jeffcohen/secrets-revealed-web-development-is-for-everyone"


      %li
        I gave a 45-minute talk on improving your code skills at
        = link_to 'Windy City Rails', "https://windycityrails.org"
        in September, 2012.

      %li
        I spoke on
        %strong Coding is for Everyone
        in September, 2012 at WebVisions Chicago.



      %li
        I appeared as a panelist on the topic "Teaching Rails"
        at the MadisonRuby Conference in August, 2012.

      %li
        I have a talk called 
        %strong Rails for .NET Developers
        on April, 2011 at
        = link_to "Codepalousa", "http://www.codepalousa.com/"
        in Louisville, Kentucky.
