%h1 Speaking


.row
  .col-md-8
    %h3 Most Recent

    %p
      I spoke on
      %strong Computer Science: The Good Parts
      at
      = link_to "WindyCityRails", "https://www.windycityrails.com/"
      on September 17, 2015.
      The
      = link_to 'slides are here', 'https://speakerdeck.com/jeffcohen/computer-science-the-good-parts'
      or
      = link_to 'you can watch the video.', 'https://www.windycityrails.org/videos/2015/'

    %h3 Invite Me

    %p
      I often speak to user groups, schools, classrooms,
      and bootcamps on topics that include coding demonstrations,
      workshops, and general business presentations.

    %p
      Just contact me
      = link_to "on Twitter", 'https://twitter.com/jeffcohen'
      or drop me
      = mail_to "cohen.jeff@gmail.com", "an email."
