%nav.navbar.navbar-default
  .container-fluid

    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Jeffrey Cohen", root_path, class: 'navbar-brand'

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.visible-xs
        %li= link_to "Home", root_path
        %li= link_to "Consulting", consulting_path
        %li= link_to "Speaking", speaking_path

      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "https://twitter.com/jeffcohen" do
            %i.fa.fa-twitter
            Twitter
        %li
          = link_to "https://github.com/jeffcohen" do
            %i.fa.fa-github
            GitHub
        %li
          = link_to "https://www.linkedin.com/in/codeteacher" do
            %i.fa.fa-linkedin
            LinkedIn
