!!!
%html
  %head
    %title Jeffrey Cohen
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'

    = javascript_include_tag 'application'
    = javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    = csrf_meta_tags
  %body

    = render 'layouts/navbar'


    .container-fluid

      .row
        .col-sm-3.navigation.hidden-xs
          %p= link_to "Home", root_path
          -# %p= link_to "Essays", essays_path
          %p= link_to "Consulting", consulting_path
          %p= link_to "Speaking", speaking_path
          %p= link_to "Tutoring", tutoring_path
          -# %p= link_to "For Students", essays_path

        .col-sm-8
          = yield
