!!!
%html
  %head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %title Jeffrey Cohen

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Roboto:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body

    = render 'layouts/navbar'

    .container-fluid

      -# .alert.alert-success
        -# = link_to "/workshops/front-end" do
        -#   %p.text-center
        -#     %strong(style="color: white;") NEW WORKSHOP! Introduction to Front-End Development.  June 2018 in Chicago.

      .row.mt-3
        .col-sm-3.navigation.d-none.d-sm-block.text-uppercase
          %p= link_to "Home", root_path
          %p= link_to "Consulting", consulting_path
          %p= link_to "Training", training_path
          %p= link_to "Speaking", speaking_path
          %p= link_to "Tutoring", tutoring_path
          %p= link_to "Bio", bio_path
          %p= link_to "Resume", resume_path
        .col-sm-8
          = yield


    = render 'layouts/ga' if Rails.env.production?
