!!!
%html
  %head
    %title Website
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    = csrf_meta_tags
  %body

    = render 'layouts/navbar'

    .container-fluid

      .row
        .col-sm-3.navigation
          %p= link_to "Home", root_path
          %p= link_to "Essays", essays_path
          %p= link_to "Speaking", essays_path
          %p= link_to "Consulting", essays_path
          %p= link_to "For Students", essays_path

        .col-sm-9
          = yield
